<form method="POST" action="{% url 'app:signup'%}">
  {% csrf_token %}

  <br>
  <label class="block-label" for="username">ID</label>
  <input id="username" name="username" type="text" value="">
  <input id="btn-username" type="button" value="아이디 중복체크">
  <br>
  <br>
  <label class="block-label" for="email">이메일</label>
  <input id="email" name="email" type="email" value="">
  <br>
  <br>
  <label class="block-label" for="fullname">이름</label>
  <input id="fullname" name="fullname" type="text" value="">
  <br>
  <br>
  <label class="block-label" for="password1">Password</label>
  <input name="password1" type="password" value="">
  <br>
  <br>
  <label class="block-label" for="password2">Confirm Password</label>
  <input name="password2" type="password" value="">
  <br>
  <br>
  <input type="submit" id="join-submit" id_check_result="fail" value="가입하기">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src='//code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
<script>
	/* 중복체크! */
	$(function(){
		/* 아이디 수정했을 때 */
		// $('#email').change(function () {
		// 	$('#img-email').hide();
		// 	$('#btn-email').show();
		// });

		$('#btn-username').click(function(){
			let username = $('#username').val()
			if(username == ''){
				alert('아이디를 입력해주세요.')
				return;
			}

			$.ajax({
				url:'/api/checkeusername?username='+username,
				type:'get',
				dataType:'json',
				success:function(response){
					if(response.result != 'success'){
						console.error(response.data)
						return;
					}
					if(response.data == 'exist'){
						alert("이미 존재하는 ID 입니다.");
						$('#username').val('').focus();
						return;
					}else{
						$('#img-username').show();
						$('#btn-username').hide();
						$("#join-submit").attr("id_check_result", "success");
						return;
					}
					// console.log(response)
				},
                error : function(xhr, error){
					alert("서버와의 통신에서 문제가 발생했습니다.");
					console.error("error : " + error);
				}
			})
		});

    $('#join-form').submit(function() {
		   if($("input:checkbox[id='agree-prov']").is(":checked") == false) {
		      alert("약관동의를 확인하여 주시기 바랍니다.");
		      return false;
		   }

		   console.log($("#join-submit").attr("id_check_result"));

		   if($("#join-submit").attr("id_check_result") == "fail") {
		      alert("id 중복체크를 해주시기 바랍니다.");
		      $("#email").focus();
		      return false;
		   }
		});

		$("#email").on("propertychange change keyup paste input", function(){
		   $('#img-email').hide();
		   $('#btn-email').show();
		   $("#join-submit").attr("id_check_result", "fail");
		});
	});
</script>