.active {
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  .header_main {
    margin: 0;
    padding: 0;
    .main_inner {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    height: 64px;
    min-width: 320px;
    justify-content: space-between;
    .header_logo {
      
      .logo {
        display: flex;
        font-size: 26px;
        font-weight: bold;
        width: 120px;
        height: 24px;
        align-items: center;
        }
      }
      .header_right {
        display: flex;
        min-width: 120px;
        flex-shrink: 0;
        justify-content: flex-end;
        .gnb_area {
          display: flex;
          align-items: center;
          margin-left: auto;
          .gnb {
            .gnb_list {
              display: flex;
              align-items: center;
              list-style: none;
              .gnb_item {
                margin-right:40px;
                &:last-child {
                  margin-right: 0;
                }
                .gnb_link {
                  position: relative;
                  display: flex;
                  font-size: 18px;
                  letter-spacing: -.27px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  padding: 50px 40px;
  border-top: 1px solid #ebebeb;
  .inner {
    position: relative;
    .service_menu {
      display:flex;
      flex-direction: row-reverse;
      justify-content:space-between;
      padding-bottom: 56px;
      border-bottom: 1px solid #ebebeb;
      .service_title {
        display: inline-flex;
        align-items: center;
        letter-spacing: -.16px;
        font-size: 16px;
        font-weight: bold;
      }
      .sub_area {
        padding-top: 8px;
        font-weight: none;
        .sub_text {
          line-height: 17px;
          .sub_content {
            max-width: 263px;
            float: left;
            font-size: 13px;
            letter-spacing: -.07px;
            color: rgba(34,34,34,.5);
            line-height: 20px;
            font-weight:500;
            &::after {
              float: left;
              font-size: 13px;
              letter-spacing: -.07px;
              color: rgba(34,34,34,.5);
              max-width: 263px;
              line-height: 20px;
            }
          }
        }
      }
      .footer_menu {
        display: flex;
        .menu_box {
          width: 160px;
          .menu_title {
            font-size: 16px;
            letter-spacing: -.16px;
          }
          .menu_list {
            padding-top: 8px;
            float: left;
            font-size: 14px;
            letter-spacing: -.07px;
            color: rgba(34,34,34,.5);
            line-height: 24px;
            .menu_itme {
              padding-top: 6px;
              .menu_link {
                display: inline-block;
                font-size: 14px;
                letter-spacing: -.21px;
                color: rgba(34,34,34,.5);
              }
            }
          }
        }
        .menu_box_se {
          width: 160px;
          margin-left: 80px;
          .menu_title {
            font-size: 16px;
            letter-spacing: -.16px;
            display: flex;
          }
          .menu_list {
            padding-top: 8px;
            float: left;
            font-size: 14px;
            letter-spacing: -.07px;
            color: rgba(34,34,34,.5);
            line-height: 24px;
            .menu_itme {
              padding-top: 6px;
              .menu_link {
                display: inline-block;
                font-size: 14px;
                letter-spacing: -.21px;
                color: rgba(34,34,34,.5);
              }
            }
          }
        }
      }
    }
    .corporation_area {
      position: relative;
      margin-top: 30px;
    }
  }
}