{% extends "layout.html" %}

{% block title %}
Main
{% endblock %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
<!-- header -->
  {{ block.super }}

<div class="place_search">
  <div class="place_search_title">
    <span class="head_addtitle">한눈에 보는 나의 쇼핑몰정보</span>
    <div class="p_s_row">
      <h2 class="p_s_title"> <span class="p_s_title_sub"></span></h2>
    </div>
  </div>
</div>

<!-- <div class="main_container">
  <div class="main_top_area">
    <div class="main_banner">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
          <div class="swiper-slide">
            <img class="img_banner" src="https://kream-phinf.pstatic.net/MjAyMzAyMDNfNTMg/MDAxNjc1MzkxMzIxMzAx.xtUjVG9i3YqPtfw8XJoBc0uWxS6TrFdwf-CBELg9kqgg.DNgPY6NGFvLslnrrNoVj64muHXjoSUBM8LZk40F8JOsg.JPEG/a_cf1b6bc24a914eb6a91c16fe2cec3343.jpg?type=m_2560_webp" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div> -->

<!-- 사용자가 로그인 이후 보여지는 페이지 -->
{% if user.is_authenticated %}
<div class="user_info_title">
  <div>
    <p>나의 쇼핑몰정보 입력</p>
  </div>
</div>

<div class="user_container">
  <div class="user_item">
    <a class="user_link" href="{% url 'app:ably' %}">
      <div class="user_content">
        <img class="user_img" src="https://image.rocketpunch.com/company/29834/paletteco_logo_1556522541.png?s=400x400&t=inside" alt="" />
      </div>
    </a>
    <a class="user_link" href="{% url 'app:cafe24' %}">
      <div class="user_content">
        <img class="user_img" src="../static/img/caf24.png" alt="" />
      </div>
    </a>
    <a class="user_link" href="javascripts:void(0)">
      <div class="user_content">
        <img class="user_img" src="../static/img/naver S.png" alt="" />
      </div>
    </a>
  </div>
</div>

<!-- 로그인 하기 전에 보여지는 페이지 -->
{% else %}
{% endif %}

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    pagination: {
      el: ".swiper-pagination",
    },
  });


  let typeText = document.querySelector(".p_s_title_sub")
  let textToBeTypedArr = ["에이블리", "스마트스토어", "카페24"]
  let index = 0, isAdding = true, textToBeTypedIndex = 0

  function playAnim() {
    setTimeout(function () {
      // set the text of typeText to a substring of the text to be typed using index.
      typeText.innerText = textToBeTypedArr[textToBeTypedIndex].slice(0, index)
      if (isAdding) {
        // adding text
        if (index > textToBeTypedArr[textToBeTypedIndex].length) {
          // no more text to add
          isAdding = false
          //break: wait 2s before playing again
          setTimeout(function () {
            playAnim()
          }, 2000)
          return
        } else {
          // increment index by 1
          index++
        }
      } else {
        // removing text
        if (index === 0) {
          // no more text to remove
          isAdding = true
          //switch to next text in text array
          textToBeTypedIndex = (textToBeTypedIndex + 1) % textToBeTypedArr.length
        } else {
          // decrement index by 1
          index--
        }
      }
      // call itself
      playAnim()
    }, isAdding ? 120 : 60)
  }
  // start animation
  playAnim()

</script>

{% endblock %}
{% block footer %}
  {{ block.super }}
{% endblock %}