{% extends "layout.html" %}

{% block title %}
Main
{% endblock %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block body %}
<!-- header -->
  {{ block.super }}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>홈페이지</h1>
    </div>
</div>
{{ user }}
<!-- 사용자가 로그인 이후 보여지는 페이지 -->
{% if user.is_authenticated %}
<p><a href="{% url 'app:ably' %}">에이블리</a></p>
<p><a href="{% url 'app:cafe24' %}">카페24</a></p>
<p><a href="{% url 'app:usertoken' %}">입력 정보 보러가기</a></p>
<!-- <button class="btn btn-primary btn-block" onclick="location.href='/user/ably'">에이블리</button> -->

<!-- 로그인 하기 전에 보여지는 페이지 -->
{% else %}

{% endif %}

{% endblock %}