{% if ably_list %}
    {% for ably in ably_list %}
    <p>{{ ably.ably_id }}</p>
    {% endfor %}
    <button>데이터 가져오기</button>
{% else %}
<form method="POST" action="{% url 'app:ably'%}">
    {% csrf_token %}
    <label for="ablyid">에이블리 아이디</label>
    <input required id="ablyid" name="ablyid" type="text">
    <br>
    <br>
    <label for="ablypw">에이블리 비밀번호</label>
    <input required id="ablypw" name="ablypw" type="text">
    <p>
        <input type="submit" id="ably-submit" value="확인">
    </p>
    <button>데이터 가져오기</button>
</form>
{% endif %}