{% for data in data_list %}
{{ data.ably_id }}
{{ data.ably_pw }}
{% endfor %}
<form method="POST">
    {% csrf_token %}
    <button class="btn btn-primary btn-block" name="ablycrawling">데이터 가져오기</button>
</form>

{% if ably_data %}
    {% for da in ably_data %}
    <p>{{ da.orderName }}</p>
    {% endfor %}
{% else %}
<p>현재 데이터가 없습니다</p>
{% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src='//code.jquery.com/ui/1.11.4/jquery-ui.js'></script>
<script>
	/* 중복체크! */
	$(function(){
		$('#btn-username').click(function(){
			let username = $('#username').val()
			if(username == ''){
				alert('아이디를 입력해주세요.')
				return;
			}

			$.ajax({
				url:'/api/ablydata',
				type:'get',
				dataType:'json',
				success:function(response){
					if(response.result != 'success'){
						console.error(response.data)
						return;
					}
					if(response.data == 'exist'){
						alert("이미 존재하는 ID 입니다.");
						$('#username').val('').focus();
						return;
					}else{
						$('#img-username').show();
						$('#btn-username').hide();
						$("#join-submit").attr("id_check_result", "success");
						return;
					}
					// console.log(response)
				},
                error : function(xhr, error){
					alert("서버와의 통신에서 문제가 발생했습니다.");
					console.error("error : " + error);
				}
			})
		});
	});
</script>
  